<div class="title-area">
  <h1>{{title}}</h1>
  <h2>Good, like fly fishin'</h2>
  <br>
  <hr>
  <br>
</div>
<div class="addNew container">
  <div class="row">
    <div class="col-md-6">
      <form id="newFly">
        <h3>Add a new Fly</h3>
        <label for="fly-name" name="fly-name" type="text">Name</label>
        <input [(ngModel)]="flyName" type="text" name="fly-name"><br>

        <label for="fly-description" name="fly-description" type="text">Description</label>
        <input [(ngModel)]="flyDescription" type="text" name="fly-description"><br>

        <label for="fly-have" name="fly-have" type="text">Add to 'Flies I own'</label><br>
        <label>yes&nbsp;&nbsp;</label>
        <input type="radio" name="fly-have" [(ngModel)]="have" value="yes">
        <label>no&nbsp;&nbsp;</label>
        <input type="radio" name="fly-have" [(ngModel)]="have" value="no"><br>

        <label for="fly-wish" name="fly-wish" type="text">Add to Wish List</label><br>
        <label>yes&nbsp;&nbsp;</label>
        <input type="radio" name="fly-wish" [(ngModel)]="flyWish" value="yes">
        <label>no&nbsp;&nbsp;</label>
        <input type="radio" name="fly-wish" [(ngModel)]="flyWish" value="no"><br>

        <label for="fly-packed" name="fly-packed" type="text">Add to Pack List</label><br>
        <label>yes&nbsp;&nbsp;</label>
        <input type="radio" name="fly-packed" [(ngModel)]="flyPacked" value="yes">
        <label>no&nbsp;&nbsp;</label>
        <input type="radio" name="fly-packed" [(ngModel)]="flyPacked" value="no"><br>

        <label for="fly-image" name="fly-image" type="text">image url</label>
        <input [(ngModel)]="flyImage" type="text" name="fly-image"><br>

        <button (click)="add(flyName, flyDescription, have, flyWish, flyPacked, flyImage)">Add new Fly to Catalogue</button>
      </form>
    </div>
    <div class="col-md-6" id="newDisplay">
      <h3>Name: {{flyName}}</h3>
      <h3>Description: {{flyDescription}}</h3>
      <h3>Do I have this? {{have}}</h3>
      <h3>Wish List? {{flyWish}}</h3>
      <h3>Packed? {{flyPacked}}</h3>
      <img src="{{flyImage}}" alt="" height="200px" width="300px">
    </div>
  </div>
  <br>
  <hr>
  <h1>YOUR FLIES!</h1>
    <ul>
      <div class="row">
        <div class="col-md-6">
          <p (click)="open(fly)">{{fly.name}}</p>
        </div>
        <div class="col-md-6">
          <div *ngIf="selectedFly">
            <p>{{selectedFly.name}}</p>
            <p>{{selectedFly.description}}</p>
            <p>{{selectedFly.have}}</p>
            <p>{{selectedFly.wishList}}</p>
            <p>{{selectedFly.packList}}</p>
            <img src="{{selectedFly.image}}">
          </div>
        </div>
      </div>
    </ul>
</div>

<!-- <p> *ngFor="let "</p> -->
